language: ruby
rvm:
  - 2.1.2
before_install:
  - gem update bundler
before_script:
  - git clone https://github.com/Kuniri/kuniri.git
  - cd kuniri
  - bundle install
  - gem install yard
script:
  - rake
notifications:
  email:
    - rodrigosiqueiramelo@gmail.com
  on_success: change
  on_failure: always
branches:
  only:
    - master
